<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    Kořenový logger do souboru..-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.txt</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework" level="WARN" />

    <springProfile name="dev">
        <logger name="ppj" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <logger name="ppj" level="INFO" />
    </springProfile>
</configuration>